/*-- scss:defaults --*/

// fonts
$presentation-font-size-root: 30px;

// colors
$color-white: #FFFFFF;
$color-gray: #808080;
$color-black: #000;
$color-orange: #eb811b;
$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;

$body-bg: $color-white !default;
$body-color: $color-black !default;
$link-color: $color-blue !default;
$presentation-heading-color: $color-black !default;

/*-- scss:rules --*/

